body{
    background-color: #0F172A;
    color : #E5E7EB;
}

.header{
    background-color: #020617;
    color : #F9fafb;
    border-bottom : #1f2937;
    border-radius: 10px;
    text-align: center;
}
h1{
    padding: 5px;
}

/* .addMovie{

} */
